/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --half-baked: #81B3D3;
  --fountain-blue: #669EC0; /*наведение п.г. и соцсети*/
  --steel-blue: #5496BD; /*нажатие п.г. и соцсети*/
  --gallery: #EEEEEE;
  --grey: #888888;
  --pine-cone: #766357; /*покой поиск гостиниц*/
  --kabul: #604E43; /*наведение поиск гостиниц*/
  --mondo: #503E33; /*нажатие поиск гостиниц*/
  --mine-shaft: #333333;
  --concrete: #F2F2F2;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height:  26px;
  color: var(--basic-black);
  background-color: transparent;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
color: var(--half-baked);
}

.site-navigation a:focus {
color: rgba(0, 0, 0, 0.3);
}

.current-page-item a {
  color: var(--pine-cone);
}


/*background-photo*/

.semantic-header {
  visibility: hidden;
}

.background-photo {
background-color: var(--basic-black);
background-image: url(../img/background_photo.jpg);
background-position: center;
background-repeat: no-repeat;
width: 1200px;
height: 509px;
}
.background-images {
  background-image: url(../img/background_photo_decor.svg);
  width: 1200px;
  height: 509px;
  background-position: center;
  background-repeat: no-repeat;
}


/*заголовок между верхним блоком с картинкой и списком преимуществ*/

.middle-header {
  font: inherit;
  font-weight: 700;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/*advantages-list*/

.advantages {
  text-align: center;
}
.section-header {
  font: inherit;
  font-weight: 400;
  color: var(--mine-shaft);
  font-size: 14px;
  line-height: 26px;
}

.advantages-list h4,
.advantages-list h5 {
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: 700;
}

.advantages p {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: 400;
}

.advantages-list .advantages-item:nth-child(1),
.advantages-list .advantages-item:nth-child(2) {
  color: var(--basic-white);
  background-color: var(--half-baked);
}

.advantages-item .infrastructure-list {
  color: var(--basic-black);
  background-color: var(--basic-white);
  list-style: none;
  background-repeat: repeat;
}

.advantages-list .advantages-item:nth-child(3),
.advantages-list .advantages-item:nth-child(4),
.advantages-list .advantages-item:nth-child(5) {
  background-color: var(--gallery);
  background-repeat: repeat;
}

.icon-1 {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  height: 72px;
}

.icon-2 {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  height: 77px;
}

.icon-3 {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  height: 70px;
}
/*hotel search*/

.hotel-search {
  background-color: var(--basic-white);
  color: var(--basic-black);

}
.hotel-search h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}
.hotel-search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

/*filter*/

.filter {
background-image: url(../img/background_hotels.png);
height: 217px;
background-repeat: no-repeat;
}

/*sorting*/

.sorting,
.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}

.sorting li {
  list-style: none;
}

.sorting a {
  color: var(--basic-black);
}

.active-sorting a {
  color: var(--half-baked);
}

.passive-sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed;
  border-bottom-color: var(--half-baked);
}

.passive-sorting a:hover {
  color: var(--half-baked);
}

.passive-sorting a:focus {
  color: var(--basic-black);
  border-bottom: none;
}


/*search-result*/

.search-result a,
.search-result {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: normal;
}

.actions-result .more-info {
  background-color: var(--half-baked);
}

.actions-result .more-info:focus {
  background-color: var(--steel-blue);
  color: rgba(255,255,255, 0.3);
}

.actions-result .more-info:hover {
  background-color: var(--fountain-blue);
  color: var(--basic-white);
}

.actions-result .booking:focus {
  background-color: var(--mondo);
  color: rgba(255,255,255, 0.3);
}

.actions-result .booking:hover {
  background-color: var(--kabul);
  color: var(--basic-white);
}

.actions-result .booking {
  background-color: var(--pine-cone);
}

.hotels-list-header a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotels-list-header a:hover {
  color: var(--half-baked);
}
.hotels-list-header a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.actions-result a {
  color: var(--basic-white);
}

.search-result li {
  list-style: none;
}

.raiting {
  background-color: var(--concrete);
  text-align: right;
}
/*footer*/

.page-footer {
background-color: rgba(255, 255, 255, 0.9);
color: var(--basic-black);
font-size: 21px;
line-height: 26px;
font-weight: 700;
}

.social li{
  list-style: none;
}
.hotels-footer {
  background-color: var(--basic-white);
}

.twitter {
  background-image: url(../img/twitter.svg);
}

.facebook {
  background-image: url(../img/facebook.svg);
}

.youtube {
  background-image: url(../img/youtube.svg);
}

.square {
  height: 48px;
  width: 46px;
  background-color: var(--half-baked);
  background-repeat: no-repeat;
}

.footer-social a {
  color: #81B3D3;
  list-style: none;
}
.footer-social a:hover {
  color: #669EC0;
}
.footer-social a:focus {
  color: #5496BD;
}
